.login {
    display: flex;
    height: 100vh;
    overflow: hidden;
    direction: rtl;
}
.login__content {
    flex: 0 0 600px;
    background-color: white;
    padding: 120px;
}
.login__content__logo {
    width: 43px;
    height: 58px;
}
.login__content__logo__text {
    color: var(--color-blue);
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}
.login__space {
    flex: 1;
    background-color: var(--color-gray-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.login__space__title {
    width: 60%;
    margin-top: 100px;
}
.login__space__title > h1 {
    word-spacing: -3px;
    margin-bottom: 7px;
}
.login__content__buttons {
    position: absolute;
    width: 100%;
    margin-top: 50px;
}
.login__content__buttons__button {
    width: 100%;
    border: 2px solid var(--color-gray-2);
    background-color: white;
    outline: none;
    display: flex;
    align-items: center;
    transition: 0.1s ease;
    border-radius: 12px;
    padding: 15px;
}
.login__content__buttons__button:not(:last-child) {
    margin-bottom: 10px;
}
.login__content__buttons__button:hover {
    border-color: var(--color-blue);
    background-color: var(--color-btn-hover);
}
.login__content__buttons__button__content {
    margin-right: 10px;
    text-align: right;
}
.login__content__buttons__button__content > p {
    font-weight: bold;
    margin-bottom: 3px;
}
.login__content__buttons__button__content > span {
    color: gray;
}
.login__content__buttons__button__image {
    width: 40px;
    height: 40px;
}

.form {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.form > input {
    outline: none;
    border: 2px solid var(--color-gray-2);
    transition: 0.1s ease;
    font-weight: bold;
    font-size: 16;
}
.form > input:hover,
.form > input:focus {
    border-color: var(--color-blue);
    background-color: var(--color-btn-hover);
}
.form > input:not(:last-child) {
    margin-bottom: 10px;
}

.form__btn > .form__btn__loading {
    align-items: center;
    justify-content: center;
    display: none;
}
.form__btn > .loader {
    display: none;
}

.form__btn,
.form input {
    padding: 18px 20px 16px 20px;
    border-radius: 12px;
}
.form__btn {
    margin-top: 20px;
    background-color: var(--color-blue);
    color: white;
}
.form__btn:hover {
    background-color: var(--color-blue-hover);
}
.form__btn_text {
    margin-top: 15px;
    padding: 10px;
    outline: none;
    background-color: transparent;
    color: var(--color-blue);
}


